# Ruby
# Package your Ruby project.
# Add steps that install rails, analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/ruby

trigger:
- master

jobs:
  - job: Linux
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: UseRubyVersion@0
        inputs:
          versionSpec: '>= 2.5'
      - script: |
          bundle install --retry=3 --jobs=4
        displayName: 'Bundle'
      - script: |
          bundle exec rake test